@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
	background-color: #102040;
	font-family: "Noto Serif", serif;
	color: #F7F7F7;
	padding: 0% 10% 0% 10%;
}
@media screen and (max-width: 600px) {
body {
	padding: 0px 60px 0px 60px;
}
}
p {
	font-size: medium;
	font-weight: normal;
/*	padding: 0px 0px 0px 0px; */
}
ul {
/*	list-style-type: disc; */
	padding: 0px 0px 0px 18px;
}
a {
	color: #F7F7F7;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:visited {
	text-decoration: underline;
}
h1 {
	background: #000020;
	font-size: x-large;
	font-weight: bold;
	padding: 36px 9px 9px 9px;
}
h2 {
	color: #F0E0E0; 
	font-size: large;
	font-weight: bold;
	padding: 18px 0px 9px 0px;
	border-bottom: 1px solid;
}
.summaryh2 {
	color: #F0E0E0; 
	font-size: large;
	font-weight: bold;
	padding: 18px 0px 9px 0px;
	border-bottom: 1px solid;
}
h3 {
	color: #F0E0E0; 
	font-size: medium;
	font-weight: bold;
	padding: 9px 0px 0px 0px;
}
.summaryh3 {
	color: #F0E0E0; 
	font-size: medium;
	font-weight: bold;
	padding: 0px 0px 0px 0px;
}
.bottompadding {
	padding: 0px 0px 36px 0px
}
div.goback {
	padding: 36px 0px 0px 0px;
}
